In [ ]:
#TRYING MY HANDS ON PANDAS
import pandas as pd
income=pd.read_csv('income_data.csv')


#checking the first five rows of the income data
income.head(5)

In [ ]:
income.nunique()

In [ ]:
income.nunique()

In [4]:
#Creating my own Dataframe
Nick_fam=pd.DataFrame(
    {
        "Name":['Theresah','Anna','Samuel','Nicholas','Gabriel'],
        "Age":[32,29,27,25,23],
        "Sex":["Female","Female","Male","Male","Male"],
        "Height":[2.4,3.1,5.4,7.8,6.2]
    }
)
print(Nick_fam)

       Name  Age     Sex  Height
0  Theresah   32  Female     2.4
1      Anna   29  Female     3.1
2    Samuel   27    Male     5.4
3  Nicholas   25    Male     7.8
4   Gabriel   23    Male     6.2

In [11]:
Nick_fam.nunique()

Name    5
Age     5
Sex     2
dtype: int64

In [12]:
Nick_fam.describe()

            Age
count   5.00000
mean   27.20000
std     3.49285
min    23.00000
25%    25.00000
50%    27.00000
75%    29.00000
max    32.00000

In [14]:
Nick_fam.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Age     5 non-null      int64
 2   Sex     5 non-null      object
 3   Height  5 non-null      float64
dtypes: float64(1), int64(1), object(2)
memory usage: 292.0+ bytes

In [5]:
#GROUPING OBJECT AND INTEGER COLUMNS
object_column=Nick_fam.select_dtypes(include=['object']).columns
print(object_column)

Index(['Name', 'Sex'], dtype='object')

In [6]:
numerical_column=Nick_fam.select_dtypes(include=['int','float']).columns
print(numerical_column)

Index(['Age', 'Height'], dtype='object')

In [9]:
Nick_fam['Name'].unique()

array(['Theresah', 'Anna', 'Samuel', 'Nicholas', 'Gabriel'], dtype=object)

In [20]:
income.isnull().sum()

ID                   0
Age                  0
Workclass         1836
Education            0
Marital.Status       0
Occupation        1843
Relationship         0
Race                 0
Sex                  0
Hours.Per.Week       0
Native.Country     583
Income.Group         0
dtype: int64

In [22]:
income.columns

Index(['ID', 'Age', 'Workclass', 'Education', 'Marital.Status', 'Occupation',
       'Relationship', 'Race', 'Sex', 'Hours.Per.Week', 'Native.Country',
       'Income.Group'],
      dtype='object')

In [21]:
income.shape

(32561, 12)

In [24]:
income.nunique()

ID                32561
Age                  73
Workclass             8
Education            16
Marital.Status        7
Occupation           14
Relationship          6
Race                  5
Sex                   2
Hours.Per.Week       94
Native.Country       41
Income.Group          2
dtype: int64

In [11]:
num_columns=income.select_dtypes(include=['int','float']).columns 
print(num_columns)

Index(['ID', 'Age', 'Hours.Per.Week'], dtype='object')

In [26]:
income['Education'].unique()

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Doctorate', 'Prof-school',
       '5th-6th', '10th', '1st-4th', 'Preschool', '12th'], dtype=object)

In [27]:
income['Relationship'].unique()

array(['Not-in-family', 'Husband', 'Wife', 'Own-child', 'Unmarried',
       'Other-relative'], dtype=object)

In [28]:
income['Occupation'].unique()

array(['Adm-clerical', 'Exec-managerial', 'Handlers-cleaners',
       'Prof-specialty', 'Other-service', 'Sales', 'Craft-repair',
       'Transport-moving', 'Farming-fishing', 'Machine-op-inspct',
       'Tech-support', nan, 'Protective-serv', 'Armed-Forces',
       'Priv-house-serv'], dtype=object)

In [13]:
Edu_Relation=income.groupby('Education')['Relationship'].count()

In [ ]:
Edu_Relation

In [ ]:
#Airport dataset
import pandas as pd
Airport=pd.read_csv('Airport.csv')

print(Airport)

In [ ]:
def aluminus(**info):
    """The Aluminus of KsTU"""
    for key,value in info.items():
        print(f'{key} : {value}')
        f  print(aluminus(Name='Akwasi',Age=58,Hometown='Nandom'))

Name : Akwasi
Age : 58
Hometown : Nandom
None

In [ ]:
print(aluminus(Name='Nicolas',Age=42,Hometown='Nadowli', Height=5.2))

In [ ]:
import one
print(one.greet('Nicholas'))

In [ ]:
import nick
nick.greet('nicholas')