In [ ]:
import sqlite3
conn=sqlite3.connect('Database1.db')
cursor=conn.cursor()
cursor.execute('''
    CREATE TABLE IF NOT EXISTS Datascience2(
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        Firstname TEXT NOT NULL,
        Lastname TEXT NOT NULL,
        Age INTEGER NOT NULL,
        SHS  TEXT NOT NULL,
        Course TEXT NOT NULL,
        Grade  INTEGER NOT NULL)''')
conn.commit()
conn.close()

In [ ]:
#INSERTING DATA INTO THE DATABASE
import sqlite3
conn=sqlite3.connect('Database1.db')
cursor=conn.cursor()
cursor.execute('''
        INSERT INTO Datascience2(
            Firstname, Lastname,Age,SHS ,Course,Grade)
            VALUES('Nicholas','Dery',39,'Kaleo Senior High Technical School','General Agriculture',
            12)''')