In [ ]:
import pandas as pd
diabete=pd.read_csv('diabete.csv')
print(diabete)

In [ ]:
diabete.info()

In [ ]:
diabete.isnull().sum()

In [5]:
diabete.Age.mean()

33.240885416666664

In [ ]:
diabete.describe()

In [ ]:
diabete.drop_duplicates()

In [ ]:
for Age in diabete['Age']:
    if Age>50:
       print(Age)

In [ ]:
diabete.value_counts

In [13]:
#TRYING A SIMPLE PROGRAM
import random
num=random.randint(1,10)
while True:
    guess=int(input('Enter any guessed number'))
    if guess==num:
        print("You got it correct!")
        break
    else:
        print("Try again!!!")

Try again!!!
Try again!!!
Try again!!!
Try again!!!
Try again!!!
You got it correct!

In [13]:
#CLASSES
class car:
        def turn_on(self):
                print("You turn on this car")
                return self
        def brake(self):
                print("You step on the brake")
                return self
        def drive(self):
                print("start to drive")
                return self
        def stop(self):
                print("The engine has been stopped")
                return self
car=car()
car.brake()
car.turn_on()
car.drive()
car.brake()
car.stop()

You step on the brake
You turn on this car
start to drive
You step on the brake
The engine has been stopped

In [8]:
#Walrus operator :=
foods=list()
while True:
    food=input("What food do you like most?")
    if food=="quit":
        break
    foods.append(food)

In [14]:
#Using Walrus operator for the function
foods=list()
while food:=input("What food do you like most?")!="quit":
    foods.append(food)

In [21]:
#HIGHER ORDER FUNCTIONS
def loud(text):
    return text.upper()

def quiet(text):
    return text.lower()

def nick(func):
    text=func("hello Nick")
    print(text)

nick(loud)
nick(quiet)

HELLO NICK
hello nick

In [22]:
say=print
say("Hello! Dery Nicholas, how are you doing?")

Hello! Dery Nicholas, how are you doing?

In [1]:
#Dealing with Lambda functions
double=lambda x:x*2
print(double(5))

Your_name=lambda fname,lname:fname+" "+lname
print(Your_name("Dery","Nicholas"))

10
Dery Nicholas

In [40]:
#Sorting of list and functions
frontline_workers=["Nicholas","Owura","Ibrahim","Joshua",
                   "Felix","Gabriel","Joseph","Jonas"]
frontline_workers.sort()
for i in frontline_workers:
    print(i)

Felix
Gabriel
Ibrahim
Jonas
Joseph
Joshua
Nicholas
Owura

In [75]:
#FUNCTIONS
def workers(name,hometown,age,salary):
    print(f"My name is {name}, I come from {hometown}.I am {age} years old.I earn {salary} per month")
#calling the function with the arguments.
print(workers("Nicholas","Serekpere",30,2000))
print(workers("Joshua","Goli",20,4000))

My name is Nicholas, I come from Serekpere.I am 30 years old.I earn 2000 per month
None
My name is Joshua, I come from Goli.I am 20 years old.I earn 4000 per month
None

In [59]:
def sum(add):
    return add*3
print(sum(3))

9

In [1]:
#Analysis on Goal Scorers.
import pandas as pd
Goal_scorers=pd.read_csv('Goal_Scorers.csv')
print(Goal_scorers)

             date  home_team away_team       team            scorer  minute  \
0      1916-07-02      Chile   Uruguay    Uruguay   José Piendibene    44.0
1      1916-07-02      Chile   Uruguay    Uruguay  Isabelino Gradín    55.0
2      1916-07-02      Chile   Uruguay    Uruguay  Isabelino Gradín    70.0
3      1916-07-02      Chile   Uruguay    Uruguay   José Piendibene    75.0
4      1916-07-06  Argentina     Chile  Argentina     Alberto Ohaco     2.0
...           ...        ...       ...        ...               ...     ...
44357  2024-07-13     Canada   Uruguay    Uruguay       Luis Suárez    90.0
44358  2024-07-14  Argentina  Colombia  Argentina  Lautaro Martínez   112.0
44359  2024-07-14      Spain   England      Spain     Nico Williams    47.0
44360  2024-07-14      Spain   England    England       Cole Palmer    73.0
44361  2024-07-14      Spain   England      Spain   Mikel Oyarzabal    86.0

       own_goal  penalty
0         False    False
1         False    False
2         False    False
3         False    False
4         False    False
...         ...      ...
44357     False    False
44358     False    False
44359     False    False
44360     False    False
44361     False    False

[44362 rows x 8 columns]

In [63]:
Goal_scorers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44362 entries, 0 to 44361
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       44362 non-null  object
 1   home_team  44362 non-null  object
 2   away_team  44362 non-null  object
 3   team       44362 non-null  object
 4   scorer     44313 non-null  object
 5   minute     44103 non-null  float64
 6   own_goal   44362 non-null  bool
 7   penalty    44362 non-null  bool
dtypes: bool(2), float64(1), object(5)
memory usage: 2.1+ MB

In [ ]:
Goal_scorers.head()

In [ ]:
user=input("Enter your name")
num_of_times=int(input("How many times do you want your name to be printed?"))
for i in range(num_of_times):
    print(user)

In [80]:
#Students scores
grade=float(input("Enter your score"))
if grade>=90 and grade<=100:
    print('A+')
elif grade>=80 and grade<90:
    print('A')
elif grade>=70 and grade<80:
    print('B+')
elif grade>=60 and grade<70:
    print('B')
elif grade>=50 and grade<60:
    print('C+')
elif grade>=40 and grade<50:
    print('C')
elif grade>=30 and grade<40:
    print('D')
elif grade>=20 and grade<30:
    print('F')
else:
    print("You have completely failed, you have a resit!!!")

A+

In [ ]:
#continuation of my analysis
Goal_scorers.shape
Goal_scorers.head(5)

In [22]:
#SORT FUNCTION
workers=["John","Akwasi","Maalam","Bright","George"]
sorted_workers=sorted(workers)
for i in sorted_workers:
    print(i)

Akwasi
Bright
George
John
Maalam

In [23]:
students=[("Nicholas","M",40),("John","M",20),("Mary","F",30),
          ("Carol","F",10)]
grade=lambda grades:grades[1]
students.sort(key=grade)
for i in students:
    print(i)

('Mary', 'F', 30)
('Carol', 'F', 10)
('Nicholas', 'M', 40)
('John', 'M', 20)

In [24]:
#MAP FUNCTION
store=[("Trouser",300),
       ("Shirt",200),
       ("Book",100),
       ("Pen",500),
       ("Erazer",400)]

to_euros=lambda data:(data[0],data[1]*15.00)
price_in_euros=map(to_euros,store)
for i in price_in_euros:
    print(i)

('Trouser', 4500.0)
('Shirt', 3000.0)
('Book', 1500.0)
('Pen', 7500.0)
('Erazer', 6000.0)

In [25]:
#FILTER FUNCTION
classmates=[("Osaah",40),
            ("Bright",60),
            ("Sunshine",20),
            ("Carol",10),
            ("Aaron",40)]
age=lambda data:data[1]>30
mates_older_than_30=list(filter(age,classmates))
for i in mates_older_than_30:
    print(i)

('Osaah', 40)
('Bright', 60)
('Aaron', 40)

In [30]:
#List comprehentions
squares=[]
for i in range(1,11):
    squares.append(i*i)
print(squares)
          #OR
square=[i*i for i in range(1,11)]
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [2]:
Goal_scorers.nunique()

date          4632
home_team      220
away_team      220
team           220
scorer       14335
minute         121
own_goal         2
penalty          2
dtype: int64

In [3]:
Goal_scorers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44362 entries, 0 to 44361
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       44362 non-null  object
 1   home_team  44362 non-null  object
 2   away_team  44362 non-null  object
 3   team       44362 non-null  object
 4   scorer     44313 non-null  object
 5   minute     44103 non-null  float64
 6   own_goal   44362 non-null  bool
 7   penalty    44362 non-null  bool
dtypes: bool(2), float64(1), object(5)
memory usage: 2.1+ MB

In [6]:
#selection of object columns
object_columns=Goal_scorers.select_dtypes(include=['object']).columns
print('Object_columns:')
print(object_columns)

Object_columns:
Index(['date', 'home_team', 'away_team', 'team', 'scorer'], dtype='object')

In [7]:
#Selection of integer and float columns
numerical_columns=Goal_scorers.select_dtypes(include=['float64','int64']).columns
print(numerical_columns)

Index(['minute'], dtype='object')

In [8]:
Goal_scorers.columns

Index(['date', 'home_team', 'away_team', 'team', 'scorer', 'minute',
       'own_goal', 'penalty'],
      dtype='object')

In [ ]:
mylist=[20,10,50,38,27,48]

In [2]:
# ZIP FUNCTION
#aggregate elements from two or more iterables(tuples,list,sets,etc)
username=["Nicholas","Joshua","Ibrahim"]
passwords=["pass","ability","Youngman"]
users=zip(username,passwords)
for i in users:
    print(i)

('Nicholas', 'pass')
('Joshua', 'ability')
('Ibrahim', 'Youngman')

In [ ]:
#TIME
import time
print(time.ctime(0))

Thu Jan  1 00:00:00 1970

In [ ]:
#GRAPHICALL USER INTERFACE
from tkinter import *
window=Tk()  #instantiate an instance of a windows
window.geometry("420x420")
window.title("NICKY'S TRIALS")
photo=PhotoImage(file="one.JPG")
Label=Label(window,
            text="Hello world!!, This is Nicholas, my first time of  building a customised GUI",
font=("Arial",50,"bold"),
image=photo)

Label.pack()
window.mainloop()# Place a window on computer screen,listen events.

In [ ]:
#FUNCTIONS IN PYTHON.

In [5]:
evenodd=lambda x:print('even' if x % 2==0 else 'odd')
evenodd(4)

even

In [2]:
#LAMBDA FUNCTIONS
Question=lambda name, age:print('Hi,',name,'are you',age,'years old' )
Question("Nicholas",32)

Hi, Nicholas are you 32 years old